.rounded{
    border-radius: 10px;
}
#msj_man_user{
    display: none;
    width: 1024px;
    font-size: 50px; 
    text-align: center;
    margin: 0 auto;
    background-color: #000000; 
    border-radius: 10px;
    position:absolute; 
    z-index:1
}

.titulo{
    width: 1024px;
    text-align: center;
}