.rounded{
    border-radius: 10px;
}
.table-content{
    margin: -7px 0 0 -7px;
    padding: 7px;
    background: #cccccc url("images/tbs.png") 50% 50% repeat;
    filter: Alpha(Opacity=60); /* support: IE8 */
    border-radius: 8px;
    color: black;
}
.home{
    width: 800px;
    height: 520px;
    background:url("images/SCC520-png-blanco.png");
}
.logo{
    background:url("images/SCC-catheadmini.png");
    width: 40px;
    height: 36px;
}
#login{
    text-align: center;
    display: none;
    margin-top: 10px; 
    padding:100px 0;
    background:url("images/ui-bg_loop_25_000000_21x21.png") center top repeat;
    color: #ffffff;
}
#usuarios{
    height: 520px;
}
#maquinas{
    overflow: hidden;
    width: 100%;
}
#cat_gastos{
    overflow: hidden;
    width: 100%;
}
#caja{
    height: 520px;
}
#estadisticas{
    height: 100%;
}
#cuadratura{
    height: 520px;
}
#nombrelogin{
    font-weight: bold;
}
.msj{
    display: none;
    width: 1024px;
    font-size: 50px; 
    text-align: center;
    margin: 0 auto;
    background-color: #000000; 
    border-radius: 10px;
    position:absolute; 
    z-index:1
}
#Man_usuarios{
    float: left;
    padding-left: 50px;
}
#lista_usuarios{
    float: right;
    padding-right: 50px;

}
#Man_maquinas{
    float: left;
    padding-left: 50px;
}
#lista_maquinas{
    float: right;
    padding-right: 50px;
}
#Man_gastos{
    float: left;
    padding-left: 50px;
}
#lista_gastos{
    float: right;
    padding-right: 50px;
}
#alto{
    height: 430px;
    z-index: -1;
}
#alto_login{
    height: 80px;
    z-index: -1;
}
titulo{
    width: 1024px;
    text-align: center;
}
titulo_1{
    width: 1024px;
    text-align: left;
}
#titulo_caja{
    width: 900px;
    text-align: left;
}
#titulo_gasto{
    width: 900px;
    text-align: left;
}
